$blue: #273FAD;
$green: #3FAD27;
$red: 	#ad273f;
$background: #F0F2F5;
$shapes: #FFFFFF;
$text-title: #3D3D4D;
$text: #1C1C29;
$text-light: #A09CB1;
$black: #121214;
$white: #FFFFFF;
$line: #DDD;
$yellow: #ffad1e;
$table: #f1f3f4;